<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Text_blur_s_0000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,932},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>Text_blur_s_0000_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1011},{9,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,80}}</string>
                <key>sourceSize</key>
                <string>{9,80}</string>
            </dict>
            <key>Text_blur_s_0001_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,146},{12,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,71}}</string>
                <key>sourceSize</key>
                <string>{12,71}</string>
            </dict>
            <key>Text_blur_s_0001_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,963},{21,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,54}}</string>
                <key>sourceSize</key>
                <string>{21,54}</string>
            </dict>
            <key>Text_blur_s_0002_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,146},{28,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,73}}</string>
                <key>sourceSize</key>
                <string>{28,73}</string>
            </dict>
            <key>Text_blur_s_0002_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,963},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>Text_blur_s_0003_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,963},{27,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,55}}</string>
                <key>sourceSize</key>
                <string>{27,55}</string>
            </dict>
            <key>Text_blur_s_0004_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,103},{26,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,80}}</string>
                <key>sourceSize</key>
                <string>{26,80}</string>
            </dict>
            <key>Text_blur_s_0005_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{27,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,72}}</string>
                <key>sourceSize</key>
                <string>{27,72}</string>
            </dict>
            <key>Text_blur_s_0006_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,963},{27,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,55}}</string>
                <key>sourceSize</key>
                <string>{27,55}</string>
            </dict>
            <key>Text_blur_s_0007_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,932},{29,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,74}}</string>
                <key>sourceSize</key>
                <string>{29,74}</string>
            </dict>
            <key>Text_blur_s_0008_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,48},{17,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,65}}</string>
                <key>sourceSize</key>
                <string>{17,65}</string>
            </dict>
            <key>Text_blur_s_0009_apos.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,926},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>Text_blur_s_0010_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,963},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>Text_blur_s_0011_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{28,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,55}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>Text_blur_s_0012_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,926},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>Text_sharp_s_0000_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,59},{9,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,70}}</string>
                <key>sourceSize</key>
                <string>{9,70}</string>
            </dict>
            <key>Text_sharp_s_0001_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,960},{12,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,61}}</string>
                <key>sourceSize</key>
                <string>{12,61}</string>
            </dict>
            <key>Text_sharp_s_0002_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,959},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>Text_sharp_s_0003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,932},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>Text_sharp_s_0003_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,61},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>Text_sharp_s_0004_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,31},{26,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,70}}</string>
                <key>sourceSize</key>
                <string>{26,70}</string>
            </dict>
            <key>Text_sharp_s_0004_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{21,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,44}</string>
            </dict>
            <key>Text_sharp_s_0005_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,960},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>Text_sharp_s_0006_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,32},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>Text_sharp_s_0007_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,932},{29,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>sourceSize</key>
                <string>{29,64}</string>
            </dict>
            <key>Text_sharp_s_0008_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,963},{17,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,55}}</string>
                <key>sourceSize</key>
                <string>{17,55}</string>
            </dict>
            <key>Text_sharp_s_0009_apos.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,90},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>Text_sharp_s_0010_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,118},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>Text_sharp_s_0011_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>Text_sharp_s_0012_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,70},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>Text_sharp_s_0033_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,959},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>opening_ani_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,581},{349,234}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{349,234}}</string>
                <key>sourceSize</key>
                <string>{351,238}</string>
            </dict>
            <key>opening_ani_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,581},{192,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,343}}</string>
                <key>sourceSize</key>
                <string>{192,343}</string>
            </dict>
            <key>opening_ani_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{515,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,190}}</string>
                <key>sourceSize</key>
                <string>{515,190}</string>
            </dict>
            <key>opening_blackblock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{3,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,381}}</string>
                <key>sourceSize</key>
                <string>{3,381}</string>
            </dict>
            <key>opening_curve_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,963},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>opening_hexagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,926},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>opening_line_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1015},{77,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,4}}</string>
                <key>sourceSize</key>
                <string>{77,4}</string>
            </dict>
            <key>opening_mask_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,133},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>opening_mask_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,115},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>opening_note1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,103},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>opening_note2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,926},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>opening_spotlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,577}}</string>
                <key>sourceSize</key>
                <string>{355,577}</string>
            </dict>
            <key>opening_tri.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,90},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_openning.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6799bfb3a0e543c8bf249c8f4924c5f8:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_openning.png</string>
        </dict>
    </dict>
</plist>
