<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_map_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,79},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>bg_map_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,79},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>bg_map_nocrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,79},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>bg_map_nostar.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,79},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>bg_map_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,79},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>bg_social_butten_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>bg_social_butten_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>icon_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,79},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>icon_map_card_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,57},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>map_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_2_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_3_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_4_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_box_5_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>map_home_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>map_icon_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,79},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>map_icon_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,79},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>xmas_map_box1_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,60}}</string>
                <key>sourceSize</key>
                <string>{28,60}</string>
            </dict>
            <key>xmas_map_box2_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,79},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>xmas_map_box3_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,79},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>xmas_map_box4_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,57},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>xmas_map_box5_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xmas_map_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>xmas_map_select_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,97},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_xmas_map.png</string>
            <key>size</key>
            <string>{713,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33507f649d1492e5ec5a4e83d7e8f399:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_xmas_map.png</string>
        </dict>
    </dict>
</plist>
