<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_coinfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,254},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>bonus_coinicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,968},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bonus_diamondfly.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,118},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>bonus_diamondicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,968},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bonus_leaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{117,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,226}}</string>
                <key>sourceSize</key>
                <string>{117,226}</string>
            </dict>
            <key>bonus_lifefly.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,896},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>bonus_lifeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,968},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bonus_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bonus_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,284},{98,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,134}}</string>
                <key>sourceSize</key>
                <string>{98,134}</string>
            </dict>
            <key>bonus_partical1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,664},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>bonus_partical2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,973},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>bonus_partical3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,934},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>bonus_presslight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{363,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,381}}</string>
                <key>sourceSize</key>
                <string>{363,381}</string>
            </dict>
            <key>bonus_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,389},{365,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,134}}</string>
                <key>sourceSize</key>
                <string>{365,134}</string>
            </dict>
            <key>bonus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,973},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>chest_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,284},{133,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,101}}</string>
                <key>sourceSize</key>
                <string>{133,101}</string>
            </dict>
            <key>chest_bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,128},{169,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,124}}</string>
                <key>sourceSize</key>
                <string>{169,124}</string>
            </dict>
            <key>chest_bottom_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{169,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,124}}</string>
                <key>sourceSize</key>
                <string>{169,124}</string>
            </dict>
            <key>chest_coin_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,254},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>chest_disc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,387},{274,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,275}}</string>
                <key>sourceSize</key>
                <string>{274,275}</string>
            </dict>
            <key>chest_inside_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{280,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,152}}</string>
                <key>sourceSize</key>
                <string>{280,152}</string>
            </dict>
            <key>chest_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,385}}</string>
                <key>sourceSize</key>
                <string>{385,385}</string>
            </dict>
            <key>chest_music_chest_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,973},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>chest_music_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>chest_normal_chest_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,664},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>chest_normal_chest_small_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,973},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>chest_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,772},{197,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,199}}</string>
                <key>sourceSize</key>
                <string>{197,199}</string>
            </dict>
            <key>chest_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,712},{182,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,134}}</string>
                <key>sourceSize</key>
                <string>{182,134}</string>
            </dict>
            <key>chest_top_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,750},{182,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,134}}</string>
                <key>sourceSize</key>
                <string>{182,134}</string>
            </dict>
            <key>icon_bonus_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,960},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_class_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,772},{256,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,194}}</string>
                <key>sourceSize</key>
                <string>{256,194}</string>
            </dict>
            <key>icon_class_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,664},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>icon_puzzle.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,934},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>icon_video_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,664},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>icon_video_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,968},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>imag_cd_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,896},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_bonus.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4960ae9f814c93ec94807eb09b4db396:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_bonus.png</string>
        </dict>
    </dict>
</plist>
