<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_result.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{320,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,600}}</string>
                <key>sourceSize</key>
                <string>{320,600}</string>
            </dict>
            <key>bg_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{618,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,294}}</string>
                <key>sourceSize</key>
                <string>{618,294}</string>
            </dict>
            <key>button_vip_firstpay.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,756},{164,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,119}}</string>
                <key>sourceSize</key>
                <string>{164,119}</string>
            </dict>
            <key>cdcover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,330}}</string>
                <key>sourceSize</key>
                <string>{640,330}</string>
            </dict>
            <key>cdshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{20,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,344}}</string>
                <key>sourceSize</key>
                <string>{20,344}</string>
            </dict>
            <key>hall_result_master_rank_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,840},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>hall_result_master_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,780},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>hall_result_master_rank_bg_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{152,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,63}}</string>
                <key>sourceSize</key>
                <string>{152,63}</string>
            </dict>
            <key>icon_best_gp.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,780},{100,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,58}</string>
            </dict>
            <key>icon_crown_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,604},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
            <key>icon_dicounts_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,780},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>icon_newcrown_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,604},{163,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,150}}</string>
                <key>sourceSize</key>
                <string>{163,150}</string>
            </dict>
            <key>icon_newstar_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,604},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>icon_star_gp.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,780},{93,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,66}}</string>
                <key>sourceSize</key>
                <string>{93,66}</string>
            </dict>
            <key>icon_star_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,604},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>icon_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,780},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>normal_result_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,134}}</string>
                <key>sourceSize</key>
                <string>{640,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_content3.png</string>
            <key>size</key>
            <string>{968,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e08c61ea167fedc99c7884f75533a60:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_content3.png</string>
        </dict>
    </dict>
</plist>
