<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_leaderboard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,495}}</string>
                <key>sourceSize</key>
                <string>{500,495}</string>
            </dict>
            <key>bg_leaderboard_nowifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{303,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,364}}</string>
                <key>sourceSize</key>
                <string>{303,364}</string>
            </dict>
            <key>bg_leaderboard_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{464,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,120}}</string>
                <key>sourceSize</key>
                <string>{464,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_leaderboard.png</string>
            <key>size</key>
            <string>{499,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d2040f2d924ab1d5347cdcf19b4eadb:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_leaderboard.png</string>
        </dict>
    </dict>
</plist>
