<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dreamPag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,221}}</string>
                <key>sourceSize</key>
                <string>{620,221}</string>
            </dict>
            <key>bg_package_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{629,203}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,203}}</string>
                <key>sourceSize</key>
                <string>{637,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_package.png</string>
            <key>size</key>
            <string>{1255,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e78b02a0bff12b488af3c7912fa4b37d:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_package.png</string>
        </dict>
    </dict>
</plist>
