<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_game_infor.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,644},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>bg_game_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,973},{155,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,45}}</string>
                <key>sourceSize</key>
                <string>{155,45}</string>
            </dict>
            <key>bg_game_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,644},{238,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,45}}</string>
                <key>sourceSize</key>
                <string>{238,45}</string>
            </dict>
            <key>bg_mubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>bg_title_weekgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,714},{117,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,105}}</string>
                <key>sourceSize</key>
                <string>{117,105}</string>
            </dict>
            <key>bg_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,500}}</string>
                <key>sourceSize</key>
                <string>{640,500}</string>
            </dict>
            <key>bg_week_infor.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,884},{75,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,45}}</string>
                <key>sourceSize</key>
                <string>{75,45}</string>
            </dict>
            <key>btn_game_addtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,867},{32,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_game_rude.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,833},{32,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>button_shop_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{328,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,93}}</string>
                <key>sourceSize</key>
                <string>{328,93}</string>
            </dict>
            <key>icon_anypay_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,901},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>icon_card_week.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,714},{121,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,35}}</string>
                <key>sourceSize</key>
                <string>{121,35}</string>
            </dict>
            <key>icon_message_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,901},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>icon_mubiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,833},{146,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>icon_mubiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,751},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>icon_mubiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,950},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>icon_shop_give.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,981},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>icon_shop_num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,935},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,678},{16,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,901},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,867},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,833},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,712},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,712},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,644},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,678},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_shop_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,644},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>icon_week_musicb.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,974},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>icon_weekcup.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,765},{175,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,183}}</string>
                <key>sourceSize</key>
                <string>{175,183}</string>
            </dict>
            <key>icon_weekcup_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,644},{235,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,68}}</string>
                <key>sourceSize</key>
                <string>{235,68}</string>
            </dict>
            <key>icon_zhousai.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,691},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>unlock_titlebg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,961},{10,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,146}}</string>
                <key>sourceSize</key>
                <string>{10,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_shop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c210940fb186b6211493193ea72d6c3e:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_shop.png</string>
        </dict>
    </dict>
</plist>
