<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_continue_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>bg_newbest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{179,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,60}}</string>
                <key>sourceSize</key>
                <string>{179,60}</string>
            </dict>
            <key>bg_recommend_resulet_discounted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{145,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,57}}</string>
                <key>sourceSize</key>
                <string>{145,57}</string>
            </dict>
            <key>bg_recommend_result_fragment.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,878},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>bg_result_buy_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{89,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,162}}</string>
                <key>sourceSize</key>
                <string>{89,162}</string>
            </dict>
            <key>bg_result_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,65}}</string>
                <key>sourceSize</key>
                <string>{640,65}</string>
            </dict>
            <key>bg_result_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,278},{71,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,84}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>icon_cm.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,450},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>icon_coin_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,528},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_collect_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_collect_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_diamond_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,528},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_diamond_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,364},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>icon_gift_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,278},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>icon_rank_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,228},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>icon_recommend_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,166},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>icon_recommend_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,364},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>icon_remix_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,166},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_result_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,418},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_battle_result2.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcca976b595dd7e2471abe812f2d99e1:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_battle_result2.png</string>
        </dict>
    </dict>
</plist>
