<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_tree_dialog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,453},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>bg_tree_dialog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,510},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_tree_xmas_progressbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,355},{41,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,12}}</string>
                <key>sourceSize</key>
                <string>{41,12}</string>
            </dict>
            <key>icon_tree_xmas_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,612},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>imag_tree_xmas_Ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,679},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>imag_tree_xmas_ball_bule.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,84},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>imag_tree_xmas_ball_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,63},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>imag_tree_xmas_ball_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,42},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>imag_tree_xmas_box_caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>imag_tree_xmas_candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,629},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>imag_tree_xmas_cookies1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,355},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>imag_tree_xmas_cookies2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,697},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>imag_tree_xmas_cookies3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,570},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>imag_tree_xmas_cookies4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,580},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>imag_tree_xmas_cookies_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,335},{69,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{69,81}</string>
            </dict>
            <key>imag_tree_xmas_cookies_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,462},{104,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
            <key>imag_tree_xmas_deer.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,373},{112,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,201}}</string>
                <key>sourceSize</key>
                <string>{112,201}</string>
            </dict>
            <key>imag_tree_xmas_deer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,411},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>imag_tree_xmas_deer_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,406},{80,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,135}}</string>
                <key>sourceSize</key>
                <string>{80,135}</string>
            </dict>
            <key>imag_tree_xmas_deer_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,697},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>imag_tree_xmas_deer_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,576},{150,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,111}}</string>
                <key>sourceSize</key>
                <string>{150,111}</string>
            </dict>
            <key>imag_tree_xmas_deer_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,671},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>imag_tree_xmas_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,697},{319,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,291}}</string>
                <key>sourceSize</key>
                <string>{319,291}</string>
            </dict>
            <key>imag_tree_xmas_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,373},{322,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,297}}</string>
                <key>sourceSize</key>
                <string>{322,297}</string>
            </dict>
            <key>imag_tree_xmas_light_music1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,893},{42,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,76}}</string>
                <key>sourceSize</key>
                <string>{42,76}</string>
            </dict>
            <key>imag_tree_xmas_light_music2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,701},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>imag_tree_xmas_light_snow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,522},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>imag_tree_xmas_light_snow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,629},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>imag_tree_xmas_light_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,724},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>imag_tree_xmas_light_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,350},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>imag_tree_xmas_oldman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,310},{135,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,99}}</string>
                <key>sourceSize</key>
                <string>{135,99}</string>
            </dict>
            <key>imag_tree_xmas_oldman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,455},{53,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,106}}</string>
                <key>sourceSize</key>
                <string>{53,106}</string>
            </dict>
            <key>imag_tree_xmas_oldman3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,508},{76,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,53}}</string>
                <key>sourceSize</key>
                <string>{76,53}</string>
            </dict>
            <key>imag_tree_xmas_oldman4.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{168,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,179}}</string>
                <key>sourceSize</key>
                <string>{168,179}</string>
            </dict>
            <key>imag_tree_xmas_oldman_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,204},{163,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,133}}</string>
                <key>sourceSize</key>
                <string>{163,133}</string>
            </dict>
            <key>imag_tree_xmas_oldman_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,369},{150,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{150,199}</string>
            </dict>
            <key>imag_tree_xmas_oldman_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,240},{68,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,137}}</string>
                <key>sourceSize</key>
                <string>{68,137}</string>
            </dict>
            <key>imag_tree_xmas_oldman_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,938},{157,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,82}}</string>
                <key>sourceSize</key>
                <string>{157,82}</string>
            </dict>
            <key>imag_tree_xmas_oldman_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{143,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,190}}</string>
                <key>sourceSize</key>
                <string>{143,190}</string>
            </dict>
            <key>imag_tree_xmas_oldman_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{143,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,190}}</string>
                <key>sourceSize</key>
                <string>{143,190}</string>
            </dict>
            <key>imag_tree_xmas_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,411},{130,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,42}}</string>
                <key>sourceSize</key>
                <string>{130,42}</string>
            </dict>
            <key>imag_tree_xmas_snowman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,697},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>imag_tree_xmas_snowman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,159},{24,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{24,50}</string>
            </dict>
            <key>imag_tree_xmas_snowman3.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,697},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>imag_tree_xmas_snowman4.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,172},{140,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,66}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>imag_tree_xmas_snowman5.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>imag_tree_xmas_snowman6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{142,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,203}}</string>
                <key>sourceSize</key>
                <string>{142,203}</string>
            </dict>
            <key>imag_tree_xmas_snowman_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,531},{99,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>imag_tree_xmas_snowman_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,204},{175,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{175,149}</string>
            </dict>
            <key>imag_tree_xmas_snowman_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,629},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>imag_tree_xmas_snowman_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,172},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>imag_tree_xmas_sock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{63,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,84}}</string>
                <key>sourceSize</key>
                <string>{63,84}</string>
            </dict>
            <key>imag_tree_xmas_star_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,697},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>imag_tree_xmas_tree_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,474},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>imag_tree_xmas_tree_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,132},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>imag_tree_xmas_tree_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,105},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>image_black1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,620},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>image_black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,543},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>image_get_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,369}}</string>
                <key>sourceSize</key>
                <string>{358,369}</string>
            </dict>
            <key>image_get_tree_gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,563},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>image_get_tree_gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,711},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>image_get_tree_gift3.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,697},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>image_get_tree_gift4.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,711},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>image_get_tree_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,642},{73,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,97}}</string>
                <key>sourceSize</key>
                <string>{73,97}</string>
            </dict>
            <key>image_tree_xmas_progressbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{358,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,8}}</string>
                <key>sourceSize</key>
                <string>{358,8}</string>
            </dict>
            <key>image_tree_xmas_progressbar_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,211},{122,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,76}}</string>
                <key>sourceSize</key>
                <string>{122,76}</string>
            </dict>
            <key>image_tree_xmas_progressbar_box1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,298},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>image_tree_xmas_progressbar_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,570},{125,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,76}}</string>
                <key>sourceSize</key>
                <string>{125,76}</string>
            </dict>
            <key>image_tree_xmas_progressbar_box2_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,246},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>image_tree_xmas_progressbar_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,766},{125,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,76}}</string>
                <key>sourceSize</key>
                <string>{125,76}</string>
            </dict>
            <key>image_tree_xmas_progressbar_box3_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,194},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>xmas_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,420},{86,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_tree_xmas.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df7051de5661f6bdc4aea572bfa94fb3:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_tree_xmas.png</string>
        </dict>
    </dict>
</plist>
