<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,607},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>image_gift_cookies1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,817},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_cookies2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,607},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_dear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,422},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_dear2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,372},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,372},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,632},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_oldman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,422},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_oldman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,212},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_snow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,187},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_snow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,187},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_snow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,187},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_snowman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_snowman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_sock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_sock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_sock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>image_gift_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,208}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_tree_gift.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfff3f1604305a72c4d4dfa3dd2dc85b:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_tree_gift.png</string>
        </dict>
    </dict>
</plist>
