<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_pianist_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{78,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,133}}</string>
                <key>sourceSize</key>
                <string>{78,133}</string>
            </dict>
            <key>img_pianist_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{147,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,145}}</string>
                <key>sourceSize</key>
                <string>{147,145}</string>
            </dict>
            <key>img_pianist_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,373},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>img_pianist_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,600},{106,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{106,86}</string>
            </dict>
            <key>img_pianist_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,517},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>img_pianist_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,219}}</string>
                <key>sourceSize</key>
                <string>{220,219}</string>
            </dict>
            <key>img_pianist_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,299},{39,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,59}}</string>
                <key>sourceSize</key>
                <string>{39,59}</string>
            </dict>
            <key>img_pianist_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{148,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>img_pianist_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,485},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>img_pianist_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,416},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>img_pianist_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,453},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>img_pianist_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,340},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>img_pianist_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>img_pianist_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,224},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist_pianist_character.png</string>
            <key>size</key>
            <string>{223,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f27016328db61e53da0c7f40da391ae8:1/1$</string>
            <key>textureFileName</key>
            <string>Plist_pianist_character.png</string>
        </dict>
    </dict>
</plist>
